.env
.env.*
.venv
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
.git
.gitignore
logs
data
storage
dist
build
node_modules
web/dist
web/node_modules
web/.vscode
tests/__pycache__
src/**/__pycache__
