RELAY_API_KEY=
OPENAI_API_KEY=
CREDENTIAL_ENCRYPTION_KEY=topfunplus
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=images
FRONTEND_PORT=8080
