RELAY_API_KEY=
OPENAI_API_KEY=
CREDENTIAL_ENCRYPTION_KEY=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
FRONTEND_PORT=
  
